@import 'colors';

#documents {
  .document-title-heading {
    font-weight: 400;
    font-size: 1rem;
    color: $ucla-darker-blue;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .document-metadata {
    margin-right: 0px;
    background-color: yellow;
  }
  dl {
    padding-left: 0px;
  }
  dl.document-metadata {
    margin-left: 1em;
    dt {
      font-weight: bold;
      color: $ucla-darkest-blue;
      font-size: 1rem;
    }
  }

  .document-thumbnail img {
    max-width: 150px;
    vertical-align: top;
  }

  .metadata-thumbnail-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: yellowgreen;
  }

  .document-thumbnail {
    background-color: blue;
  }

  .description,
  .description-full {
    width: 100%;
  }

  @media screen and (min-width: 767px) {
    dd.blacklight-description_tesim {
      background-color: red;
    }
    dt.blacklight-description_tesim {
      background-color: aqua;
    }
    dd.blacklight-date_created_tesim {
      background-color: pink;
    }
    dt.blacklight-date_created_tesim {
      background-color: peru;
    }
  }

  @media screen and (max-width: 766px) {
    .document-thumbnail {
      text-align: center;
    }

    .metadata-thumbnail-wrapper {
      flex-direction: column-reverse;
    }

    dl.document-metadata {
      margin-left: 0;
    }

    dd {
      margin-right: 15px;
    }

    .description,
    .description-full {
      width: 100%;
    }
  }
}
