.testing1 {
  background-color: thistle; 
  border: 10px solid tomato;
  color: seagreen;
}
.testing2 {
  background-color: paleturquoise; 
  border: 5px solid orchid;
  color: crimson;
}
.testing3 {
  background-color: khaki; 
  border: 5px solid cadetblue;
  color: mediumvioletred;
}
